:root {
  --almostWhite: hsl(0, 0%, 98%);
  --mediumGrey: hsl(0, 0%, 41%);
  --almostBlack: hsl(0, 0%, 8%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  color: var(--almostBlack);
}
.page--wrapper {
  max-width: 374px;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .page--wrapper {
    max-width: 1440px;
  }
}

/* Links */
a {
  text-decoration: none;
  color: var(--mediumGrey);
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Nav bar */
.nav--wrapper {
  display: flex;
  width: 100%;
  padding: 2.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  background-color: #fff;
  width: 0px;
  z-index: 1;
  overflow-x: hidden;

  transition: width 0.4s;
}
.navbar__links-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbar__links {
  display: flex;
  flex-direction: column;
  padding: 6rem 0 0 2rem;
}
.navbar__links li {
  margin-bottom: 2rem;
}
.login {
  text-align: center;
  padding-top: 2rem;
  padding-left: 0;
}
.register {
  border-radius: 1px solid var(--mediumGrey);
  border-radius: 15px;
  width: 80%;
  padding: 1rem;

  font: inherit;
  background-color: white;
}
.closeBtn {
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 25px;
}
.menu--icon,
.menu--icon::before,
.menu--icon::after {
  display: block;
  background-color: black;
  width: 30px;
  height: 2px;
  border-radius: 2px;
}
.menu--icon::before {
  content: "";
  margin-top: 8px;
}
.menu--icon::after {
  content: "";
  margin-top: 6px;
}
.sidebar__open {
  width: 250px;
}
.navbar--dropdown {
  position: relative;
  display: inline-block;
}
.dropdown--content {
  position: relative;
  background-color: white;
  padding: 1rem 0 0 2rem;
}

@media screen and (min-width: 768px) {
  .menu--icon,
  .menu--icon::before,
  .menu--icon::after {
    display: none;
  }
  .dropdown--content {
    position: absolute;
  }
  .nav--wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .navbar {
    display: block;
    position: relative;
    width: 100%;
  }
  .navbar__links-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
    width: 100%;
  }
  .navbar__login {
    flex-direction: row;
  }
  .register {
    width: fit-content;
    padding: 0.75rem 2rem;
  }

  .navbar__links {
    flex-direction: row;
    padding: 0 0 0 2rem;
    align-items: center;
  }
  .navbar__links li {
    margin-right: 4rem;
    margin-bottom: 0;
  }
  .closeBtn {
    display: none;
  }
}
